In [1]:
#imports
%matplotlib inline

In [2]:

import pandas as pd
import numpy as np

from scipy.sparse import lil_matrix

# Necessary import for linear regression model
from sklearn.linear_model import LinearRegression

# For splitting out training data
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

In [3]:
#read in dataframe
who_df = pd.read_csv('../Module6/Life Expectancy Data.csv')
who_df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [4]:
#change column names
#make column names lowercase
old_names = who_df.columns
new_names = ['_'.join(c.split()).lower() for c in old_names]
who_df.columns = new_names
who_df.head()

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,...,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness_1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [5]:
print(who_df.columns)

Index(['country', 'year', 'status', 'life_expectancy', 'adult_mortality',
       'infant_deaths', 'alcohol', 'percentage_expenditure', 'hepatitis_b',
       'measles', 'bmi', 'under-five_deaths', 'polio', 'total_expenditure',
       'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness_1-19_years',
       'thinness_5-9_years', 'income_composition_of_resources', 'schooling'],
      dtype='object')

In [6]:
who_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2938 non-null   object
 1   year                             2938 non-null   int64
 2   status                           2938 non-null   object
 3   life_expectancy                  2928 non-null   float64
 4   adult_mortality                  2928 non-null   float64
 5   infant_deaths                    2938 non-null   int64
 6   alcohol                          2744 non-null   float64
 7   percentage_expenditure           2938 non-null   float64
 8   hepatitis_b                      2385 non-null   float64
 9   measles                          2938 non-null   int64
 10  bmi                              2904 non-null   float64
 11  under-five_deaths                2938 non-null   int64
 12  polio                            2919 non-null   float64
 13  total_expenditure                2712 non-null   float64
 14  diphtheria                       2919 non-null   float64
 15  hiv/aids                         2938 non-null   float64
 16  gdp                              2490 non-null   float64
 17  population                       2286 non-null   float64
 18  thinness_1-19_years              2904 non-null   float64
 19  thinness_5-9_years               2904 non-null   float64
 20  income_composition_of_resources  2771 non-null   float64
 21  schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [7]:
#choose columns to use for analysis
who_df_filtered = who_df[['country', 'life_expectancy', 'income_composition_of_resources', 'schooling']]
who_df_filtered

          country  life_expectancy  income_composition_of_resources  schooling
0     Afghanistan             65.0                            0.479       10.1
1     Afghanistan             59.9                            0.476       10.0
2     Afghanistan             59.9                            0.470        9.9
3     Afghanistan             59.5                            0.463        9.8
4     Afghanistan             59.2                            0.454        9.5
...           ...              ...                              ...        ...
2933     Zimbabwe             44.3                            0.407        9.2
2934     Zimbabwe             44.5                            0.418        9.5
2935     Zimbabwe             44.8                            0.427       10.0
2936     Zimbabwe             45.3                            0.427        9.8
2937     Zimbabwe             46.0                            0.434        9.8

[2938 rows x 4 columns]

In [8]:
#average values for each
who_df_filtered = who_df_filtered.groupby(['country']).mean()

In [9]:
#handle missing values
who_df_filtered = who_df_filtered.dropna()

In [10]:
who_df_filtered

,life_expectancy,income_composition_of_resources,schooling
country,,,
Afghanistan,58.19375,0.415375,8.21250
Albania,75.15625,0.709875,12.13750
Algeria,73.61875,0.694875,12.71250
Angola,49.01875,0.458375,8.04375
Antigua and Barbuda,75.05625,0.488625,8.84375
...,...,...,...
Venezuela (Bolivarian Republic of),73.38750,0.726812,12.78750
Viet Nam,74.77500,0.627062,11.51250
Yemen,63.86250,0.475500,8.50625
Zambia,53.90625,0.498437,11.21250
Zimbabwe,50.48750,0.439125,9.82500

In [11]:
who_df_filtered.describe()

       life_expectancy  income_composition_of_resources   schooling
count       173.000000                       173.000000  173.000000
mean         69.349566                         0.627419   11.999639
std           9.020091                         0.183704    3.128800
min          46.112500                         0.131687    1.531250
25%          62.743750                         0.480250    9.968750
50%          72.518750                         0.657250   12.331250
75%          74.943750                         0.762625   14.056250
max          82.537500                         0.931438   20.037500

In [12]:
X = ['schooling','income_composition_of_resources']
y = 'life_expectancy'

In [13]:
data_X = who_df_filtered[X]
data_y = who_df_filtered[y]

In [14]:
#fit model
lm = LinearRegression()
lm.fit(data_X, data_y)

LinearRegression()

In [15]:
#values for linear regression equation
print('intercept (b0) ', lm.intercept_)
coef_names = ['b1', 'b2']
print(pd.DataFrame({'Predictor': data_X.columns,
                   'coefficient Name': coef_names,
                   'coefficient Value': lm.coef_}))

intercept (b0)  41.39225071269542
                         Predictor coefficient Name  coefficient Value
0                        schooling               b1           1.001745
1  income_composition_of_resources               b2          25.400490

In [16]:
#train test split model
X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, test_size=0.1, random_state=31337)

In [17]:
#predicted life expectancy
predicted_le = lm.predict(X_test)
print("predicted values:", predicted_le)

predicted values: [65.45710359 69.55196672 68.09174866 82.55044515 72.97072026 63.38786149
 81.47326243 81.33234749 60.73978808 68.85252988 56.61603089 80.8892112
 66.9572364  67.40699327 77.41694176 81.72384021 74.5819902  76.32801899]

In [18]:
#actual vs predicted values
actual_pred = pd.DataFrame({'actual': y_test, 'predicted': predicted_le })
actual_pred

                        actual  predicted
country
Suriname              70.08125  65.457104
Kyrgyzstan            69.08125  69.551967
Syrian Arab Republic  70.85000  68.091749
Norway                81.79375  82.550445
Costa Rica            78.59375  72.970720
Togo                  56.66250  63.387861
Denmark               79.25625  81.473262
Netherlands           81.13125  81.332347
Mauritania            62.80000  60.739788
Viet Nam              74.77500  68.852530
Turkmenistan          64.61875  56.616031
Finland               80.71250  80.889211
Montenegro            74.50000  66.957236
Iraq                  70.35625  67.406993
Singapore             81.47500  77.416942
Ireland               80.15000  81.723840
Saudi Arabia          73.46875  74.581990
Malta                 80.36250  76.328019

In [19]:
#countries: Togo, Vietnam, Turkmenistan, Montenegro, Costa Rica

In [20]:
sqr_errors = []

for country in actual_pred:
    error = actual_pred['predicted'] - actual_pred['actual']
    sqr_errors.append(error ** 2)

mse = np.mean(sqr_errors)
rmse = mse ** 0.5
print("Mean Square Error: %0.4f" % mse)
print("Root-Mean Square Error: %0.4f" % rmse)

Mean Square Error: 17.6132
Root-Mean Square Error: 4.1968